.ba-mc {
  // convert px to rems
  --ba-mc-icon-size: 14px;
  --ba-mc-dot-size: 6px;

  background: white;
  border: 1px solid var(--pattern-gray-300);
  padding: 1rem;

  &__heading {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;

    &_date {
      font-size: 1.15rem;
      margin: 0;
      font-weight: bold;
      flex-shrink: 0;
    }

    // Hyphenate
    &_buttons {
      margin-left: auto;
      display: flex;

      svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: currentColor;
      }
    }

    // Hyphenate
    &_button {
      // remove px
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: 0;
      color: var(--pattern-gray-400);
      padding: 8px;
      cursor: pointer;
      outline: none;

      &:active {
        color: var(--pattern-gray-800);
      }

      & + & {
        margin-left: 0.5rem;
      }
    }
  }

  &__calendar {
    padding-top: 0.5rem;
  }

  &__day_names,
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 3px;
  }

  &__day_names {
    font-size: 0.75rem;
  }

  &__day_name, // hyphenate
  &__day {
    display: flex;
    justify-content: center;
  }

  &__day_name {
    color: var(--pattern-gray-600);
    padding: 0.5rem 0.25rem;
  }

  &__day_dot {
    margin-top: 2px;
    width: var(--ba-mc-dot-size);
    height: var(--ba-mc-dot-size);
    border-radius: 50% 50%;
    background-color: transparent;

    &--hasEvent {
      background-color: var(--pattern-blue-600);
    }
  }

  &__day {
    position: relative;
    flex-flow: column;
    align-items: center;
    padding: 0;
    font-size: 0.85rem;
    color: var(--pattern-gray-800);
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &:focus {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        box-shadow: inset 0 0 0 2px var(--pattern-blue-600);
        border-radius: 3px;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 4px;
    width: 100%;

    &_notAvailable {
      background-color: var(--pattern-gray-150);
      border-radius: 0;

      &--start {
        position: relative;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          background-color: var(--pattern-gray-400);
          display: block;
        }
      }

      &--end {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &_today {
      background-color: var(--pattern-blue-600);
      color: white;
      border-radius: 3px;

      &:before {
        background-color: var(--pattern-blue-600);
      }

      .ba-mc__day_dot--hasEvent {
        background-color: white;
      }
    }
  }

  &__schedule {
    margin-top: 0.75rem;
  }

  // Hyphenate
  &__schedule__date {
    font-size: 0.85rem;
    text-transform: uppercase;
  }

  // hyphenate
  &__schedule__events {
    margin-top: 0.75rem;

    &--hasNoEvents {
      color: var(--pattern-gray-600);
      font-size: 0.85rem;
      font-style: italic;
    }
  }
  // Hyphenate
  &__schedule__event {
    & + & {
      margin-top: 0.25rem;
    }

    svg {
      margin-right: 4px;
      width: var(--ba-mc-icon-size);
      height: var(--ba-mc-icon-size);
      flex-shrink: 0;
    }
  }

  // Hyphenate
  &__block_event {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    font-size: 0.85rem;
    border-radius: 3px;
    padding: 4px 8px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.2rem;
      background-color: transparent;
      display: block;
    }

    &__title {
      display: flex;

      svg {
        margin-top: 1px;
      }
    }

    &--event {
      color: var(--pattern-green-900);
      background-color: var(--pattern-green-600-muted);

      &:before {
        background-color: var(--pattern-green-600);
      }
    }

    &--notAvailable {
      background-color: var(--pattern-gray-150);

      &:before {
        background-color: var(--pattern-gray-500);
      }
    }

    &--task {
      color: var(--pattern-blue-800);
      background-color: var(--pattern-blue-100);

      svg {
        margin-left: -4px;
        fill: currentColor;
      }
    }
  }

  // Hyphenate
  &__dot_event {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 0.75rem;

    &:before {
      content: '';
      grid-column: 1;
      display: block;
      margin-right: 6px;
      margin-top: 2px;
      width: 9px;
      height: 9px;
      background-color: var(--pattern-green-600);
      border-radius: 50% 50%;
    }

    &__time {
      grid-column: 2;
      display: flex;
      align-items: center;
      color: var(--pattern-gray-700);
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.025rem;
    }

    &__title {
      grid-column: 2;
      display: flex;
      margin-top: 0.25rem;
      font-size: 0.85rem;

      svg {
        margin-top: 1px;
      }
    }
  }

  &__footer {
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
  }
}
